<!DOCTYPE html>
<html>
<script type="text/javascript" src="javascripts/angular.min.js"></script>
<script type="text/javascript" src="javascripts/angular-route.js"></script>
<script type="text/javascript" src="javascripts/ui-bootstrap-tpls.min.js"></script>
<script src="javascripts/angular-route.js"></script>

<script src="script.js"></script>

<link rel="stylesheet" href="stylesheets/styles.css">

<body>
    <div ng-app="myShoppingList" ng-cloak ng-controller="myCtrl" class="w3-card-2 w3-margin">
        <p><a href="#/">Main</a></p>

        <a href="#red">Red</a>
        <a href="#green">Green</a>
        <a href="#blue">Blue</a>

        <div ng-view></div>
        <script type="text/ng-template" id="main.htm">
            <h1> Main </h1>
        </script>
        <script type="text/ng-template" id="red.htm">
            <h1> Red </h1>
            <form action="https://sivabv.github.io/" method="get" id="theform" name="theform" novalidate="">
                <input type="text" name="qt" id="gsrchinput" placeholder="Search" required="required" class="placeholder">
                <input type="submit" value="G" name="search-btn" class="button button2 demo-icon">

            </form>
        </script>
        <script type="text/ng-template" id="green.htm">
            <h1> Green </h1>
            <header class="w3-container w3-light-grey w3-padding-hor-16">
                <h3>My Shopping List</h3>
            </header>
            <form>

                <h1>Services</h1>

                <ul>
                    <!-- Loop through the services array, assign a click handler, and set or
				remove the "active" css class if needed -->
                    <li ng-repeat="service in services" ng-click="toggleActive(service)" ng-class="{active:service.active}">
                        <!-- Notice the use of the currency filter, it will format the price -->
                        {{service.name}} <span>{{service.price | currency}}</span>
                    </li>
                </ul>

                <div class="total">
                    <!-- Calculate the total price of all chosen services. Format it as currency. -->
                    Total: <span>{{total() | currency}}</span>
                </div>

            </form>
        </script>
        <script type="text/ng-template" id="blue.htm">
             <header class="w3-container w3-light-grey w3-padding-hor-16">
			    <h3>My Shopping List</h3>
			  </header>
            <div class="w3-container w3-light-grey w3-padding-hor-16">
              
				    <ul class="w3-ul">
						    <li ng-repeat="x in products" class="w3-padding-hor-16">{{x}}<span ng-click="removeItem($index)" style="cursor:pointer;" class="w3-right w3-margin-right">×</span></li>
				    </ul>
				
                <div class="w3-row w3-margin-top">
                    <div class="w3-col s10">
                        <input placeholder="Add shopping items here" ng-model="formData.addMe" class="w3-input w3-border w3-padding">
                    </div>
                    <div class="w3-col s2">
                        <button ng-click="addItem()" class="w3-btn w3-padding w3-green">Add</button>
                    </div>
                </div>
                <p class="w3-padding-left w3-text-red">{{errortext}}</p>
            </div>
        </script>

    </div>
</body>

</html>