<!DOCTYPE html>
<html>
<script type="text/javascript" src="javascripts/angular.min.js"></script>
<script type="text/javascript" src="javascripts/angular-route.js"></script>
<script type="text/javascript" src="javascripts/ui-bootstrap-tpls.min.js"></script>
<script src="javascripts/angular-route.js"></script>

<script src="script.js"></script>

<link rel="stylesheet" href="stylesheets/styles.css">
<link href="stylesheets/bootstrap-combined.min.css" rel="stylesheet">

<body>
    <div ng-app="learningApp" ng-cloak ng-controller="myCtrl" class="w3-card-2 w3-margin">
        <p><a href="#Main">Main</a></p>

        <a href="#Angular-Sorting">Angular Sorting</a>
        <a href="#To-Do-list">To Do list</a>
        <a href="#My-Shopping-List">My Shopping List</a>

        <div ng-view class="ng-scope"></div>
        <script type="text/ng-template" id="main.htm">
            <h1> Main </h1>
          <accordion>
			    <accordion-group ng-repeat="group in groups" heading="{{group.title}}" is-open="group.open">
			      <accordion-heading >
			                        Clash of the clans.
			                
			                <div class="pull-right" ng-click='addNew()'>
			                  <span>Add</span>
			             
			                </div>                
			      </accordion-heading>
			       From rage-filled Barbarians with glorious mustaches to pyromaniac wizards, raise your own army and lead your clan to victory! Build your village to fend off raiders, battle against millions of players worldwide, and forge a powerful clan with others to destroy enemy clans.
			       <img src="images/clashofclans.jpg">
			    </accordion-group>    
  		   </accordion>
        </script>
        <script type="text/ng-template" id="Angular-Sorting.htm">
            <h1> Sorting Example </h1>
	        <table >
			    <thead>
			        <tr>
			            <th ng:repeat="th in head" ng:class="selectedCls(th.column)" ng:click="changeSorting(th.column)">{{th.head}}</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr ng:repeat="row in body  | orderBy:sort.column:sort.descending">
			            <td>{{row.name}}</td>
			            <td>{{row.surname}}</td>
			            <td>{{row.city}}</td> 
			        </tr>
			    </tbody>
			</table>
        </script>
        <script type="text/ng-template" id="My-Shopping-List.htm">
            <h1> My-Shopping-List </h1>
            <header class="w3-container w3-light-grey w3-padding-hor-16">
                <h3>My Shopping List</h3>
            </header>
            <form>

                <h1>Services</h1>

                <ul>
                    <!-- Loop through the services array, assign a click handler, and set or
				remove the "active" css class if needed -->
                    <li ng-repeat="service in services" ng-click="toggleActive(service)" ng-class="{active:service.active}">
                        <!-- Notice the use of the currency filter, it will format the price -->
                        {{service.name}} <span>{{service.price | currency}}</span>
                    </li>
                </ul>

                <div class="total">
                    <!-- Calculate the total price of all chosen services. Format it as currency. -->
                    Total: <span>{{total() | currency}}</span>
                </div>

            </form>
        </script>
        <script type="text/ng-template" id="To-Do-list.htm">
              <header class="w3-container w3-light-grey w3-padding-hor-16">
			    <h3>To Do List</h3>
			  </header>
	            <div class="w3-container w3-light-grey w3-padding-hor-16">
	              
					    <ul class="w3-ul">
							    <li ng-repeat="x in products" class="w3-padding-hor-16">{{x}}<span ng-click="removeItem($index)" style="cursor:pointer;" class="w3-right w3-margin-right">×</span></li>
					    </ul>
				    <div class="w3-row w3-margin-top">
	                    <div class="w3-col s10">
	                        <input placeholder="Add shopping items here" ng-model="formData.addMe" class="w3-input w3-border w3-padding">
	                    </div>
	                    <div class="w3-col s2">
	                        <button ng-click="addItem()" class="w3-btn w3-padding w3-green">Add</button>
	                    </div>
	                </div>
	                <p class="w3-padding-left w3-text-red">{{errortext}}</p>
	            </div>
        </script>

    </div>

</body>

</html>